/* MyAccount Styles */
.my-account-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: #f5f5f5; */
  }
  
  .user-profile {
    text-align: center;
  }
  
  .user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .user-profile h2 {
    margin-bottom: 20px;
  }
  
  .user-profile button {
    padding: 10px 20px;
    margin: 5px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  