@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


.scene{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #01070a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene i {
    position: absolute;
    top: -25px;
    background: rgba(255, 255, 255, 0.5);
    animation: animateStars linear infinite;
}

@keyframes animateStars{
    0%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(200vh);
    }
}

.scene .rocket {
    position: relative;
    animation: animate 0.2s ease infinite;;
}

@keyframes animate {
    0%,100%
    {
        transform: translateY(-2px);
    }
    50% 
    {
        transform: translateY(2px);
    }
}

.scene .rocket::before{
      content: '';
      position: absolute;
      bottom: -200px;
      left: 50%;
      transform: translate(-50%);
      width: 10px;
      height: 200px;
      background: linear-gradient(#00d0ff, transparent);
}

.scene .rocket::after{
    content: '';
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
    filter: blur(20px);
}


 
  .Lobby-container{
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    /* background: url('./Assets/wallpaper.jpg') no-repeat center center fixed; */
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}  

.Lobby-box {
    height: 70%;
    width: 60%;
    position: absolute;
    top: 10%;
    left: 20%;
    /* border: 2px solid green; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Lobby-box .welcome {
    font-family: 'Nunito',sans-serif;
    color: #8472c4;
    border: 2px solid #8472c4;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 9px 9px 100px #8472c4;
    width: 56%;
    height: 15%;
    margin-left: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.Lobby-box .Lobby-middle{
    display: flex;
}

.Lobby-middle .player-container{
    height: 55vh;
    width: 20vw;
    background-color: #fff;
    box-shadow: 9px 9px 80px #8472c4;
    border: 2px solid #8472c4;
    margin-left: -18rem;
    margin-top: 6rem;
    border-radius: 8px;
}

.Lobby-middle .rules-container{
    height: 55vh;
    width: 20vw;
    background-color: #fff;
    box-shadow: 9px 9px 80px #8472c4;
    border: 2px solid #8472c4;
    border-radius: 8px;
    margin-top: 6rem;
    margin-left: 29rem;
    position: absolute;
    right: -20%;
}

.Lobby-box .count {
    position: absolute;
    bottom: -19%;
    left: 22%;
    font-family: 'Nunito',sans-serif;
    color: #8472c4;
    border: 2px solid #8472c4;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 9px 9px 80px #8472c4;
    width: 56%;
    height: 11%;
    /* margin-left: 20rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

/* .enter-game{
    border: 2px solid red;
    background-color: #fff;
    margin-top: 116px;
    width: 30%;
    margin-left: 175px;
    border-radius: 8px;
} */

/* .enter-game button {
    margin: 9px;
    padding: 10px;
    border-radius: 8px;
    height: 5vh;
    width: 5vw;
} */

