/* MyAccount Styles */

.profile-container{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url('../Assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.my-account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 358px;
  background: #f5f5f5;
  width: 275px;
  border-radius: 18px;
  box-shadow: 10px 10px 35px black;
  position: absolute;
  top: 30%;
  left: 40%;
  }
  
  .user-profile {
    text-align: center;
  }
  
  .user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .user-profile h2 {
    margin-bottom: 20px;
  }
  
  .user-profile button {
    padding: 10px 20px;
    margin: 5px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  